.container{
    background-color: black;
    width: 450px;
    min-width: min-content;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0,0,0 0.75);

}

.infoPerguntas{
    width: 100%;
    position: relative;
}

.contagemPerguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.contagemPerguntas span{
    font-size: 18px;
}

.pergunta{
    margin-bottom: 12px;
}

.grupoResposta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resposta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px ;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    border: 3px solid darkslategray;
    cursor: pointer;
    margin: 0 12px 10px;
    
}

button:hover{
    background-color: #0f183b;
}

.pontuacao{
    display: flex;
    min-width: 200px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}